.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.site-logo {
  font-size: calc(13px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.App-link {
  color: #61dafb;
}

#siteNav {
  height: auto;
  width: 90vw;
}

#siteNav {
  height: auto;
  width: 90vw;
  text-decoration: none;
}

.tabParent {
  width: auto;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 10px 5px;
}

.tab {
  flex-basis: 20%;
  color: rgb(0, 0, 0);
  height: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
}

.tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.tab-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cart-tab {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.card {
  color: rgb(46, 39, 39);
  font-size: 20px;
  width: 250px;
  height: 250px;
  flex-basis: auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 15px 15px #888888;
  cursor: pointer;
  transition: 50ms ease-in;
}

.card-image {
  height: 80%;
}
.card-title {
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  height: 20%;
}
.game-area,
.game-board {
  background-color: #c2cada;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
