.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.site-logo {
  font-size: calc(13px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.App-link {
  color: #61dafb;
}

#siteNav {
  height: auto;
  width: 90vw;
}

#siteNav {
  height: auto;
  width: 90vw;
  text-decoration: none;
}

.tabParent {
  width: auto;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 10px 5px;
}

.tab {
  flex-basis: 20%;
  color: rgb(0, 0, 0);
  height: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
}

.tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.tab-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cart-tab {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.card {
  color: rgb(46, 39, 39);
  font-size: 20px;
  width: 300px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 0 0 40px 0;
  box-shadow: 2px 15px 15px #888888;
  cursor: pointer;
  transition: 50ms ease-in;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}
.card-title {
  display: flex;
  font-weight: 700;
  align-items: end;
  justify-content: left;
  padding: 0 0 10px 20px;
  height: 20%;
}
.card-brand {
  text-transform: lowercase;
  color: gray;
  font-size: 16px;
  bottom: 0;
  margin-right: 5px;
}
.sku-list {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.sku-area {
  min-height: 90vh;
  width: 100%;
  justify-content: left;
  display: flex;
  flex-direction: row;
  flex: 2;
  flex-wrap: wrap;
  padding: 100px 40px 20px 40px;
  gap: 60px;
}

img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-add-button {
  margin-left: auto;
  margin-right: 20px;
}

.increment-field {
  width: 40px;
  margin-right: 20px;
}
