.App {
  text-align: center;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.site-logo {
  font-size: calc(13px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-family: 'Rubik Mono One', sans-serif;
}

.App-link {
  color: #61dafb;
}
#siteNav {
  height: auto;
  width: 90vw;
  text-decoration: none;
}

.tabParent {
  width: 95vw;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 10px 5px;
  font-weight: 500;
}

.tab {
  flex-basis: 20%;
  color: rgb(0, 0, 0);
  height: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
}

.tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.tab-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cart-tab {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.card {
  color: rgb(46, 39, 39);
  font-size: 20px;
  width: 325px;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 10px 15px 0px #888888;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100%;
  cursor: pointer;
}

.card-image > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}
.card-title {
  display: flex;
  font-weight: 700;
  align-items: flex-end;
  justify-content: left;
  padding: 0 0 10px 20px;
  height: 20%;
}
.card-brand {
  text-transform: lowercase;
  color: gray;
  font-size: 16px;
  bottom: 0;
  margin-right: 5px;
  cursor: pointer;
}
.card-name {
  cursor: pointer;
}
.card-add-button > button {
  cursor: pointer;
  border: 1px solid gray;
  background-color: rgb(233, 233, 233);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  width: 90px;
  height: auto;
  cursor: pointer;
  padding: 5px 0 5px 0;
  transition: 0.2s;
}

.card-add-button > button:hover {
  background-color: rgb(235, 35, 35);
  color: white;
}
.card-price {
  margin-left: auto;
  margin-right: 20px;
}
.sku-list {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.sku-area {
  min-height: 90vh;
  width: 100vw;
  height: auto;
  justify-content: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 75px 10% 100px 10%;
  gap: 20px;
}
img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.card-add-button {
  margin-left: auto;
  margin-right: 20px;
}

.increment-field {
  width: 40px;
  margin-right: 10px;
}
.cart-area {
  display: flex;
  width: 80vw;
  margin: 100px 50px 0 50px;
  flex-direction: column;
}
.cart-item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}
.cart-item-info {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}
.cart-item-image {
  width: 25%;
  height: 25%;
}
.cart-item-price {
  margin-left: auto;
}
.cart-total {
  margin-left: auto;
}
.main-headline-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
.main-headline {
  color: white;
  display: flex;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100vw;
  font-size: calc(12px + 4vmin);
  font-weight: 700;
}
#bg-video {
  position: absolute;
  overflow-y: hidden;
  width: 100vw;
  height: 100%;
  left: 0;
  object-fit: cover;
  z-index: -100;
}
.Shop {
  height: 100vh;
}
.home-shop-now-button {
  border: none;
  background-color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: calc(10px + 1vmin);
  width: 175px;
  height: 50px;
  cursor: pointer;
  transition: 0.2s;
}
.home-shop-now-button:hover {
  background-color: rgb(235, 35, 35);
  color: white;
}
.item-container {
  display: flex;
  width: 100vw;
}
.item-title {
  display: flex;
}
.item-image > img {
  height: 300px;
  width: 300px;
}
.item-brand {
  margin-right: 5px;
}
.item-price {
  margin-left: auto;
}
